@page
@model testapp.Pages.XNAV.AttributeDeleteModel
@{
    ViewData["Title"] = "AttributeDelete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>AttributeDelete</h2>

<form method="post">
    <button type="submit" class="btn btn-danger">Delete?</button>
</form>