@page
@model testapp.Pages.XNAV.ProductDeleteModel
@{
    ViewData["Title"] = "ProductDelete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>ProductDelete</h2>


<form method="post">
    <button type="submit" class="btn btn-danger">Delete?</button>
</form>