@page
@model AboutModel
@{
    ViewData["Title"] = "About:";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>Building an application as some C# practice. Any question or comments, let me know thru the <a asp-page="Contact">contact page</a>.</p>
